<div class="container-fluid">
    <div class="row align-items-start" id="home">
        <div class="jumbotron">
            <div class="container">
                <div class="col-lg-4 offset-lg-4">
                    <h1 class="text-center" id="Titulo"> Nori Accommodation</h1>
                    <p class="text-center"> Looking for an economically friendly and attractive place to vacation?
                        You've
                        entered to the right site.</p>
                </div>
            </div>
        </div>

        <div class=container-fluid id="secciones">
            <div class="row">
                <div class="col" id="news">
                    <h3 class="Titles"> News</h3>
                    <ul class="list-group">
                        <li class="list-group-item opcion " data-bs-toggle="modal" data-bs-target="#Modal1">
                            <img src="/images/students.jpeg" class="img-fluid" style="max-width: 100px;">
                            <p class="opciones"> Discount for students during Springbreak! </p>
                        </li>
                        <li class="list-group-item opcion " data-bs-toggle="modal" data-bs-target="#Modal2">
                            <img src="/images/jersey.jpeg" class="img-fluid" style="max-width: 100px;">
                            <p class="opciones"> Now available in New Jersey! </p>

                        </li>
                        <li class="list-group-item opcion " data-bs-toggle="modal" data-bs-target="#Modal3">
                            <img src="/images/desayuno.jpeg" class="img-fluid" style="max-width: 100px;">
                            <p class="opciones"> New menú in our buffet!</p>

                        </li>
                    </ul>

                    <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="Modal1Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="Modal1">Discount during sprinbreak!</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="/images/students.jpeg" alt="" class="img-fluid" style="max-width: 220px;">
                                    <div> This year's springbreak if your present your certificate of student you will
                                        be given a
                                        discount of 30% in shared rooms! Do not miss the oportunity!</div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="Modal2Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="Modal2">Establishment in New Jersey</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="/images/jersey.jpeg" alt="" class="img-fluid" style="max-width: 220px;">
                                    <div> After government approval we are glad to announce that by late August our new
                                        accommodation in
                                        the heart of New Jersey city will be open. </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="Modal3Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="Modal3">New Breakfast options</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="/images/desayuno.jpeg" alt="" class="img-fluid" style="max-width: 220px;">
                                    <div> In order to guarantee that your stay is as healthy and pleasant as possible we
                                        have
                                        incorporated many nutritive options to your breakfast. Remember that the
                                        breakfast time is from 7
                                        to 10! </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" id="reviews">
                <h3 class="Titles"> Reviews</h3>
                <div class="textos" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p> "I really enojed my stay in Manhattan. Nice staff. A bit noisy during nights tho."</p>
                            <p class="puntuación"> 4/5</p>
                        </div>
                        <div class="carousel-item">
                            <p> "Charming place. Really recommend it if you are into chill venues and family
                                environments."</p>
                            <p class="puntuación"> 5/5</p>
                        </div>
                        <div class="carousel-item">
                            <p>"One of the best accommodation alternatives you may find in Denver. The bar is a bit
                                pricy but people
                                are really social!</p>
                            <p class="puntuación"> 4/5</p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="container">
            <div class="row" id="historia">
                <p class="Titles">History</p>
                <div class="col-lg-3 offset-lg-2 d-none d-lg-block" id="foto1">

                    <img src="/images/historia1.jpeg" alt="" class="img-fluid" style="height: 300px; width: 300px;">
                </div>
                <div class="col-lg-3" id="foto2">
                    <img src="/images/historia2.jpeg" alt="" class="img-fluid" style="height: 300px; width: 300px;">
                </div>
                <div class="col-lg-3 textos text-center" id="textohistoria" style="height: 300px; width: 300px;">
                    <p>Our first accomodation building was released on March 21th 2006. Four and a half hours later we
                        were rewarded with the inclusion in the list of top 100 accomodations within the area. </p>
                </div>
            </div>
        </div>

        <div class="container" id="gettoknowus">
            <div class="text-center">
                <p class="Titles">Get to know us</p>
                <div class="row" id="personas">
                    <div class="col-lg-4 offset-lg-2">

                        <div class="card" style="width: 18rem; ">
                            <img src="/images/Trevor.jpg" class="card-img-top" alt="..." style="height: 250px; width:270px;">
                            <div class="card-body">
                                <h5 class="card-title">Trevor</h5>
                                <p class="card-text">"This project has changed my life in many ways."</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">CEO</li>
                                <li class="list-group-item">Businessman</li>
                                <li class="list-group-item">Diploma in Finance</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1 ">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/Marcos.jpeg" class="card-img-top" alt="..." style="height: 250px; width: 270px;">
                            <div class="card-body">
                                <h5 class="card-title">Marcos </h5>
                                <p class="card-text">"Analysing the market and making our choices is a really triggering
                                    challenge"</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Accountant</li>
                                <li class="list-group-item">Focusing on investment</li>
                                <li class="list-group-item">Trevor's right hand</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="cuadros">
                <div class="col-lg-4" id="visitus">
                    <p class="Titles"> Find us in our principal building in Manhattan</p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48344.71232876419!2d-74.0184464016209!3d40.772041674193126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a8e53e7e03%3A0x4cb0de26aa8f59b5!2sNew%20York%20Manhattan%20Hotel!5e0!3m2!1ses!2sar!4v1695839475918!5m2!1ses!2sar"
                        width="500px" height="300px" style="border:50px;" loading="lazy" s"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-lg-4 offset-lg-2" id="formulario">
                    <p class="Titles"> Contact us!</p>
                    <form class="row g-3" action="/" method="POST">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" name="email"> 
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" name="password">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Address</label>
                            <input type="text" class="form-control" id="inputAddress" name="adress" placeholder="1234 Main St">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2" name= "adress2"
                                placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="inputCity" name="city">
                        </div>
                        <div class="col-md-2">
                            <label for="inputZip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="inputZip" name="code">
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                        
                    </form>
    <p> {{message}} </p>
                </div>
            </div>


        </div>

    </div>

</div>



</div>